- if @restaurants.any?
  - @restaurants.each do |restaurant|
  //rails make restaurant_path(restaurant) equals restaurant (it works too)
    = link_to restaurant.name, restaurant_path(restaurant)
- else 
  %h1 No restaurants yet

%a(href='/restaurants/new') Add a restaurant

